<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BoookMs</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/-Login-form-Page-BS4--Login-form-Page-BS4.css">
    <link rel="stylesheet" href="/assets/css/Contact-Form-by-Moorcam.css">
    <link rel="stylesheet" href="/assets/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Registration-Form-.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Table-tables.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Table.css">
</head>

<body>
<div th:replace="fragment.html:: navBar"></div>
    <h1 class="text-center" style="margin-top: 20px;font-size: 35px;font-weight: bold;border-color: var(--bs-indigo);color: var(--bs-pink);">Registration Details</h1>
    <div>
        <div class="datagrid" style="padding-right: 100px;padding-left: 100px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Author</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book: ${booklist}">
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.name}"></td>
                        <td th:text="${book.price}"></td>
                        <td><button class="btn btn-danger" type="button">Delete<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash-fill">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                                </svg></button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>